.title {
  background-color: #373829;
}
.title h1 {
  margin: 0;
  padding: 35px 0;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
}
.tour {
  display: flex;
  padding: 75px 120px 40px;
}
.tour_text {
  margin-left: 40px;
}
.tour_text h2 {
  margin: 0;
  padding-bottom: 40px;
  font-size: 32px;
  text-align: center;
  color: #373829;
}
.tour_text p {
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #373829;
}
.tour_1 {
  background-color: #fbede7;
}
.tour_2 {
  background-color: #e6eef5;
}
