.transfer {
    width: 50%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.discount {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    background-color: #C2AB9D;
    padding: 10px;
}

h4 {
    width: 60%;
    text-align: center;
    align-self: center;
    margin-left: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 58px;
    line-height: 60px;
    color: #FFFF;
}