.banner{
  height: 1024px;
  text-align: start;
}
.banner p {
  padding-bottom:40px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #373829;
}
.banner__container{
  position:relative;
  max-width:1200px;
  margin: 0 auto;
}
.excursions{
  position:absolute;
  top:140px;
  padding: 0px 60px 30px 50px;
  background: #D9D9D9;
  mix-blend-mode: hard-light;
  width:100%;
}
.excursions h2{
  text-align: center;
}
.excursions__wrapper{
  display: flex;
  justify-content: space-between;
}
.excursions__title{
  padding: 15px 15px;
  border-width: 1px 0 0 0;
  border-color: #202020;
  border-style: solid;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #202020;
  cursor:pointer;
  opacity: 0.8;
}
.excursions__title.active{
  opacity: 1;
  font-weight: 600;
  padding-right: 8px;
}
.excursions__title:hover{
  opacity: 1;
  font-weight: 600;
  padding-right: 8px;
}
.excursions__title:last-child{
  border-width: 1px 0;
}
.excursions__article{
  padding-left:60px;
  max-width:788px;
}
.excursions__article h3{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #202020;
  margin-top:0;
}
.excursions__article:last-child p{
  padding-bottom: 15px;
  font-size: 21px;
}
.excursions__article:last-child p:last-child{
  padding-bottom: 0;
}
@media screen and (max-width: 1220px) {
  .banner__container{
    margin: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .excursions{
    top:100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
}

.charge {
  background-color: #C2AB9D;
}

.package {
  display: flex;
  justify-content: space-between;
}

.request {
  padding-top: 35px;
  padding-left: 40px;
}

h4 {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 56px;
color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .charity {
      display: none;
  }

  .request {
      justify-content: center;
  }

  h4 {
      text-align: center;
      padding-left: 0px;
      font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  .charity {
    display: none;
}
 
.request {
  justify-content: center;
}

  h4 {
      text-align: center;
      padding-left: 0;
      font-size: 25px;
  }
}