@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto&display=swap");

.banner {
  padding: 160px 0 50px;
}

.banner h1 {
  padding: 50px 0 0;
}

.island_container {
  margin: auto;
  max-width: 1230px;
  background-color: rgba(217, 217, 217, 0.9);
}

h1.island1 {
  margin: 0 auto;
  padding-top: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.2;
  text-align: center;
  color: #202020;
}

.island_text {
  padding: 20px 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: justify;
  text-indent: 5%;
}

.island_text p {
  padding-bottom: 10px;
  color: #202020;
}

.island__images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0 50px 50px;
}

.island__image_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.island_img_1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 1195px) {
  .island__images {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .island_img_most {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    background-image: url(../images/banner.png);
    z-index: 10;
  }

  .banner {
    padding-top: 100px;
  }

  h1.island1 {
    font-size: 30px;
  }

  .island_text {
    padding: 20px 15px;
  }

  .island_img_most {
    display: block;
    max-width: 100%;
  }

  .island_img_1 {
    display: none;
  }
}