.island {
  background: url(../images/banner.png);
  background-color: gray;
  background-size: cover;
}

.island_container {
  max-width: 1200px;
  max-height: 933px;
  background-color: #d9d9d9;
  mix-blend-mode: hard-light;
  margin: 160px 122px 50px 50px;
}

h1 {
  padding: 50px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #202020;
}
.island_text {
  padding: 20px 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;

  color: #202020;
}
.island_img {
  padding: 10px 50px 50px 50px;
}
