
.container{
    max-width: 1200px;
    max-height: 933px;
    background-color: #D9D9D9;
    mix-blend-mode: hard-light;
    margin: 160px 122px 50px 50px;
}

h1{
   margin-top: 50px;
    
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 38px;
   line-height: 46px;
   text-align: center;
   color: #202020;
}
.text_island{
padding: 20px 50px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: justify;

color: #202020;
}
.img_island{
   margin: 0 auto;

}